### amidiminder Rules file

# amidiminder watches ALSA MIDI system. When a port is added, the rules in this
# file are scanned to automatically connect it up if possible.

# amidiminder also watches for connections made by other tools like aconnect
# or aconnectgui.  If those ports are disconnected (accidentially unplug a
# USB MIDI device, say) then amidiminder will remember that it had been
# manually connected before. When the port returns (plug it back in), then
# the previously made connection will be restored.

###
### Standard Rules
###
.hw <---> .app
  # Interconnect all hardware and application ports.
  # For simple set ups, this is often all you need.
  # Comment this out if you need to be more explicit about what is connected
  # to what.

RtMidiIn Client <-x- *
RtMidiOut Client -x-> *
  # Don't auto connect anything to these ports. They are generic client
  # names used by various applications, and could mean anything.


###
### Example Rules
###

# Note: Anything after a # is a comment.  Remove the leading # symbol to enable
# these rules, or just use them as a guide and write your own.

# nanoKEY2 --> Circuit
  # Will connect from the first output on nanoKEY2 to the first input on Circuit
  # The names are the names of the client, and can be partial matches

# Circuit <-- nanoKEY2
  # Same thing. Use which ever direction makes sense for you.

# Circuit <-> nanoKEY2
  # Just a shortcut for both of the above.

# Launchpad Pro:1 --> PreenFM
# bicycle:synths --> PreenFM
  # If a device (or software) has more than one port, you can specify the
  # port by number or by name

# Launchpad Pro --> .app
  # '.hw' and '.app' match any hardware or application port, respectively

# Launchpad Pro:* --> Pure Data
  # Ports can be wildcard which will match all ports, not just the first

# Launchpad Pro:2 -x-> Pure Data
  # This is a blocking rule, and it will block a wildcard match from earlier
  # in the file. It will not block rules that follow.

# "Launchpad Pro":* <-x-> *
  # Putting a name (client or port) in quotes will make it match exactly.
  # This can occasionally be useful if you have devices that are very
  # similarly named.

