[Unit]
Description=ALSA MIDI minder daemon
After=sound.target

[Service]
ExecStart=/usr/bin/amidiminder
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target

