[Unit]
Description=ALSA MIDI minder daemon
Documentation=https://github.com/mzero/midiminder/blob/master/README.md
After=sound.target

[Service]
ExecStart=/usr/bin/midiminder daemon
ExecReload=/usr/bin/midiminder reset --keep --hard
EnvironmentFile=/etc/environment
RuntimeDirectory=midiminder
StateDirectory=midiminder
Restart=always
RestartSec=1

User=midiminder
Group=audio

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
RestrictNamespaces=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
ProtectHostname=yes
ProtectKernelLogs=true
InaccessibleDirectories=/home
LimitNPROC=1
ProtectProc=invisible

[Install]
WantedBy=multi-user.target
