Source: amidiminder
Section: sound
Priority: optional
Maintainer: Blokas <hello@blokas.io>
Build-Depends: debhelper-compat (= 13), libasound2-dev
Standards-Version: 4.5.1
Homepage: https://github.com/BlokasLabs/amidiminder/
Rules-Requires-Root: no

Package: amidiminder
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: ALSA MIDI connection minder, Blokas fork.
 Watches for new MIDI ports (both from hardware devices and from applications),
 and users a rules configuration file to automatically make connections.
 Will also handle reconnecting if a port is removed and later added back, like
 when a device is unplugged and then re-plugged.
 Original author: Mark Lentczner <mark@glyphic.com>
